<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="order by dede58.com"/>
    <title>电子书后台管理</title>
	<link rel="stylesheet" type="text/css" href="css/admin_login.css"/>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/admin_login.css"/> -->
</head>
<body>
<div id="app">
    <div class="admin_login_wrap">
        <h1>后台管理</h1>
        <div class="adming_login_border">
            <div class="admin_input">
                <form action="/user/login" method="post">
                    <ul class="admin_items">
                        <li>
                            <label for="user">用户名：</label>
                            <input type="text" name="username" value="admin" id="user" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <label for="pwd">密码：</label>
                            <input type="password" name="password" value="123456" id="pwd" size="40" class="admin_input_style" />
                        </li>
                        <li>
                            <input type="submit" tabindex="3" value="提交" class="btn btn-primary" />
                        </li>
                        <p style="color: red" >{{message}}</p>
                    </ul>
                </form>
            </div>
        </div>
        <p class="admin_copyright"><a tabindex="5" href="/" target="_blank">返回首页</a> &copy; 2021 Powered by <a href="/" target="_blank">BJTU-Software</a></p>
    </div>
</div>
<script src="js/tools/vue.min.js"></script>
<script src="js/tools/axios.min.js"></script>
<script src="js/login.js"></script>
<!-- <script src="../static/js/tools/vue.min.js"></script>
<script src="../static/js/tools/axios.min.js"></script>
<script src="../static/js/login.js"></script> -->
</body>
</html>